# App
APP_NAME=rag-service
APP_ENV=development
APP_PORT=8001
DEBUG=true

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=agentica
QDRANT__TELEMETRY_DISABLED="true"

# Embedding
# CPU (active)
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
EMBEDDING_DEVICE=cpu

# GPU alternative (uncomment for nvidia)
# EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
# EMBEDDING_DEVICE=cuda

# Chunking
CHUNK_SIZE=512
CHUNK_OVERLAP=50

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Logging
LOG_LEVEL=INFO

LLM_SERVICE_URL=http://localhost:8002
