# App
APP_NAME=weather-agent
APP_ENV=development
APP_PORT=8011
DEBUG=true

# OpenWeatherMap
OPENWEATHER_API_KEY=abcd
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=en

# Redis Cache
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=2
WEATHER_CACHE_TTL=1800

# Logging
LOG_LEVEL=INFO