fastapi
uvicorn[standard]
prometheus-client==0.17.1
prometheus-fastapi-instrumentator==5.7.1
pydantic
pydantic-settings
pydantic[email]
sqlalchemy[asyncio]
alembic
asyncpg
redis
httpx
tenacity
structlog
python-jose[cryptography]
passlib[bcrypt]